@import "breakpoints"
@import "fonts"

.form-transparent
  color: white

  +narrow
    display: flex
    justify-content: center
    margin-bottom: 15px

  &__input
    padding: 0 40px
    border: 2px solid #fff
    font-size: 24px
    background-color: transparent
    color: #fff
    width: 630px
    outline: none
    line-height: 76px
    &::placeholder
      font-size: 24px
      color: white

    +wide
      width: 450px

    +medium
      width: 575px

    +narrow
      font-family: $sans
      font-size: 14px
      width: 327px
      height: 40px
      font-weight: bold
      &::placeholder
        font-size: 14px
        color: white
