.footer
  display: flex
  justify-content: space-between
  height: 100px
  width: 95vw

  &__links
    width: 260px
    font-weight: bold
    font-size: 18px
    margin-top: 45px
    display: flex
    justify-content: space-between

  img
    width: 160px

  span
    font-size: 12px